
.side-btn {
  margin-left: 70%;
  display: block;
}
.add {
  text-align: center;
  float: right;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  //font-size: 19pt;

}
todoList {
  width: 50%;
}